<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <title>Coder's High<% if @page_name %> | <%= @page_name %><% end %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <script src="/js/jquery.min.js"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script src="/js/basic.js"></script>

  <!-- <link href="css/basic.min.css" rel="stylesheet"> -->
  <link href="/css/basic.css" rel="stylesheet">
</head>
<body>

<%= yield %>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/image.position.js"></script>
</body>
</html>
