<footer class="footer bg-gray">
  <nav class="footerNav">
	<div class="widthFit">
	  <ul class="list-unstyled">
		<li><a href="#">HOME</a></li>
        <!-- <li><a href="#">お知らせ</a></li> -->
        <li><a href="http://codershigh.jp/">Coder's Highとは？</a></li>
		<li><a href="http://ws.formzu.net/fgen/S15310328/">お問い合わせ</a></li>
	  </ul>
	</div>
  </nav>
  <article class="footerSNS">
	<dl class="footerAside">
	  <dt><a href="/"><img class="img" src="/img/logo_ch_foot.png" alt="Coder's High"></a></dt>
	  <dd>
		コーダーの、コーダーによる、<br>
		コーダーのためのウェブサイト
	  </dd>
	  <dd>
        <!-- <a href="" class="faSNS fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a> -->
        <a href="https://www.facebook.com/groups/319079944955732/" class="faSNS fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a>
      </dd>
    </dl>
  </article>
  <small class="footerCopy">Copyright &copy; 2015, Coder's High All Rights Reserved.</small>
</footer>