<header class="topHeader">
  <div class="widthFit">
	<!--<h1 class="footerBrand">-->
  	<h1 class="headerBrand">
	  <a href="/"><img class="logoBrand" src="/img/logo_ch_head.png" alt="Coder's High"></a>
	</h1>
    <!--<nav class="headerNav">
      <ul class="navBarMenu list-unstyled">
        <li class="menu nav-regist"><a href="regist.html">無料参加登録</a></li>
        <li class="menu nav-login"><a href="login.html">ログイン</a></li>
      </ul>
    </nav>-->
  </div>
</header>